@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkUrl = Model?.Content.Value<string>("linkUrl");
    var linkTitle = Model?.Content.Value<string>("linkTitle");     
}

@if (!Model.Value<bool>("isExternalLink")) 
    {
        <a href="@linkUrl"> @linkTitle </a>
    } else {
        <a class="" href="@linkUrl" target="_blank"> @linkTitle </a>
    }