@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
 
@{
	var selection = Umbraco.Content(Guid.Parse("fd90399e-d230-4a63-975e-85c008e801aa"))
    .ChildrenOfType("servicesItemTemplate")
    .Where(x => x.IsVisible());
}

<section id="our-services">
	<div class="container">
		<div class="services">
		@foreach (var item in selection) {
			var thumbnail = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
			var description = item?.Value<string>("serviceDescription") ?? "";

			<a href="@item.Url()" class="service-card">
				<div class="item">
					<h4>@item.Name()</h4>
				</div>
				<div class="body" style="background: url('@thumbnail') lightgray 50% / cover no-repeat">
				</div>
				<div class="footer">
					<p>@description</p>
				</div>
			</a> 
		}
		</div>
	</div>
</section>